<script src="{{ 'product-lateral-details.js' | asset_url }}" defer="defer"></script>

<script type="application/json" id="variants">
  {
    "product": {
      "id": {{ product.id }},
      "variants": [
        {%- for variant in product.variants -%}
          {
            "id": {{ variant.id }},
            "current": {{ product.selected_or_first_available_variant.id }},
            "price": {{ variant.price }},
            "metafields": {
              {%- for metafield in variant.metafields.digikey -%}
                {{ metafield[0] | json | append: ": " | append: metafield[1] }}
                {% unless forloop.last %},{% endunless %}
              {%- endfor -%}
            }
          }
          {%- unless product.variants.last == variant -%}
              {{ "," }}
          {%- endunless -%}
        {%- endfor -%}
      ]
    }
  }
</script>



<div class="product_header-container">
    {% comment %} {{ product | json }} {% endcomment %}
    {%- liquid 
      assign current_variant = product.selected_or_first_available_variant
    -%}
    <img src="{{ current_variant.featured_image | product_img_url: 'large' }}" class="product_main_image">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'text' -%}
        <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
          {{- block.settings.text -}}
        </p>
      {%- when 'title' -%}
        <div class="product-single__title" {{ block.shopify_attributes }}>
          <h1>LRS-150-{{  current_variant.metafields.digikey.title  }}</h1>
        </div>
      {%- when 'description_title' -%}
        <h2 class="product-description-title" {{ block.shopify_attributes }}>{{ current_variant.metafields.digikey.product_description }}</h2>
      {%- when 'price' -%}
        <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
          {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
        </div>
        {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
          <div class="product__tax caption rte">
            {%- if shop.taxes_included -%}
              {{ 'products.product.include_taxes' | t }}
            {%- endif -%}
            {%- if shop.shipping_policy.body != blank -%}
              {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          </div>
        {%- endif -%}
        <div {{ block.shopify_attributes }}>
          {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
          {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            {{ form | payment_terms }}
          {%- endform -%}
        </div>
      {%- when 'description' -%}
        {%- if product.description != blank -%}
          <div class="product__description rte quick-add-hidden">
            {{ product.description }}
          </div>
        {%- endif -%}
      {%- when 'custom_liquid' -%}
        {{ block.settings.custom_liquid }}
      {%- when 'collapsible_tab' -%}
        <div class="product__accordion accordion quick-add-hidden" {{ block.shopify_attributes }}>
          <details id="Details-{{ block.id }}-{{ section.id }}">
            <summary>
              <div class="summary__title">
                {% render 'icon-accordion', icon: block.settings.icon %}
                <h2 class="h4 accordion__title">
                  {{ block.settings.heading | default: block.settings.page.title }}
                </h2>
              </div>
              {% render 'icon-caret' %}
            </summary>
            <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
              {{ block.settings.content }}
              {{ block.settings.page.content }}
            </div>
          </details>
        </div>
      {%- when 'quantity_selector' -%}
        <div class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
          <label class="form__label" for="Quantity-{{ section.id }}">
            {{ 'products.product.quantity.label' | t }}
          </label>

          <quantity-input class="quantity">
            <button class="quantity__button no-js-hidden" name="minus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
              {% render 'icon-minus' %}
            </button>
            <input class="quantity__input"
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                min="1"
                value="1"
                form="{{ product_form_id }}"
              >
            <button class="quantity__button no-js-hidden" name="plus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>
      {%- when 'popup' -%}
          <modal-opener class="product-popup-modal__opener no-js-hidden quick-add-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
            <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}</button>
          </modal-opener>
          <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.text }}</a>
      {%- when 'share' -%}
        <share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
          <button class="share-button__button hidden">
            {% render 'icon-share' %}
            {{ block.settings.share_label | escape }}
          </button>
          <details id="Details-{{ block.id }}-{{ section.id }}">
            <summary class="share-button__button">
              {% render 'icon-share' %}
              {{ block.settings.share_label | escape }}
            </summary>
            <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
              <div class="field">
                <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                </span>
                <input type="text"
                      class="field__input"
                      id="url"
                      value="{{ product.selected_variant.url | default: product.url | prepend: request.origin }}"
                      placeholder="{{ 'general.share.share_url' | t }}"
                      onclick="this.select();"
                      readonly
                >
                <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
              </div>
              <button class="share-button__close hidden no-js-hidden">
                {% render 'icon-close' %}
                <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
              </button>
              <button class="share-button__copy no-js-hidden">
                {% render 'icon-clipboard' %}
                <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
              </button>
            </div>
          </details>
        </share-button>
        <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
      {%- when 'variant_picker' -%}
        {%- unless product.has_only_default_variant -%}
          {%- if block.settings.picker_type == 'button' -%}
            <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
              {%- for option in product.options_with_values -%}
                  <fieldset class="js product-form__input">
                    <legend class="form__label">{{ option.name }}</legend>
                    {%- for value in option.values -%}
                      <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                            name="{{ option.name }}"
                            value="{{ value | escape }}"
                            form="{{ product_form_id }}"
                            {% if option.selected_value == value %}checked{% endif %}
                      >
                      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                        {{ value }}
                      </label>
                    {%- endfor -%}
                  </fieldset>
              {%- endfor -%}
              <script type="application/json">
                {{ product.variants | json }}
              </script>
            </variant-radios>
          {%- else -%}
            <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
              {%- for option in product.options_with_values -%}
                <div class="product-form__input product-form__input--dropdown">
                  <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <div class="select">
                    <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                      class="select__select"
                      name="options[{{ option.name | escape }}]"
                      form="{{ product_form_id }}"
                    >
                      {%- for value in option.values -%}
                        <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                        </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                </div>
              {%- endfor -%}

              <script type="application/json">
                {{ product.variants | json }}
              </script>
            </variant-selects>
          {%- endif -%}
        {%- endunless -%}

        <noscript class="product-form__noscript-wrapper-{{ section.id }}">
          <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
            <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
            <div class="select">
              <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                {%- for variant in product.variants -%}
                  <option
                    {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                    {% if variant.available == false %}disabled{% endif %}
                    value="{{ variant.id }}"
                  >
                    {{ variant.title }}
                    {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                    - {{ variant.price | money | strip_html }}
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
        </noscript>
      {%- when 'buy_buttons' -%}
        <div {{ block.shopify_attributes }}>
          <product-form class="product-form">
            <div class="product-form__error-message-wrapper" role="alert" hidden>
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
              </svg>
              <span class="product-form__error-message"></span>
            </div>

            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
              <div class="product-form__buttons">
                <button
                  type="submit"
                  name="add"
                  class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                >
                    <span>
                      {%- if product.selected_or_first_available_variant.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>
                    <div class="loading-overlay__spinner hidden">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                </button>
                {%- if block.settings.show_dynamic_checkout -%}
                  {{ form | payment_button }}
                {%- endif -%}
              </div>
            {%- endform -%}
          </product-form>

          {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

          {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

          <pickup-availability class="product__pickup-availabilities no-js-hidden quick-add-hidden"
            {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
            data-root-url="{{ routes.root_url }}"
            data-variant-id="{{ product.selected_or_first_available_variant.id }}"
            data-has-only-default-variant="{{ product.has_only_default_variant }}"
          >
            <template>
              <pickup-availability-preview class="pickup-availability-preview">
                {% render 'icon-unavailable' %}
                <div class="pickup-availability-info">
                  <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                  <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                </div>
              </pickup-availability-preview>
            </template>
          </pickup-availability>
        </div>

        <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
      {%- when 'rating' -%}
        {%- if current_variant.metafields.reviews.rating.value != blank -%}
          {% liquid
           assign rating_decimal = 0
           assign decimal = current_variant.metafields.reviews.rating.value.rating | modulo: 1
           if decimal >= 0.3 and decimal <= 0.7
            assign rating_decimal = 0.5
          elsif decimal > 0.7
            assign rating_decimal = 1
           endif
          %}
          <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: current_variant.metafields.reviews.rating.value, rating_max: current_variant.metafields.reviews.rating.value.scale_max }}">
            <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ current_variant.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ current_variant.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
          </div>
          <p class="rating-text caption">
            <span aria-hidden="true">{{ current_variant.metafields.reviews.rating.value }} / {{ current_variant.metafields.reviews.rating.value.scale_max }}</span>
          </p>
          <p class="rating-count caption">
            <span aria-hidden="true">({{ current_variant.metafields.reviews.rating_count }})</span>
            <span class="visually-hidden">{{ current_variant.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
          </p>
        {%- endif -%}
      {%- endcase -%}
      {%- endfor -%}
    <div class="circle_progress_bar-container">
      <div class="wattage-circle_progress_bar circle_progress_bar">
        <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="--value:95">
          <span class="wattage_progress_bar-text"><i class="fa-solid fa-w"></i><br>Wattage<br>{{ current_variant.metafields.digikey.power_watts }}</span>
        </div>
    </div>
    <div class="current-circle_progress_bar circle_progress_bar">
      <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="--value:100">
        <span class="current_progress_bar-text"><br>Current<br>0~{{ current_variant.metafields.digikey.current_output_max }}</span>
      </div>
    </div>
    <div class="voltage-circle_progress_bar circle_progress_bar">
      <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="--value:30">
        <span class="voltage_progress_bar-text"><i class="fas fa-bolt"></i><br>Voltage<br>{{ current_variant.metafields.digikey.voltage_output_1 }}</span>
      </div>
    </div>
    </div>
</div>
<div class="product_details-container">
    <div class="product_detail-card">
      <span class="attribute_title">Wattage</span>
      <span class="attribute_value">{{ current_variant.metafields.digikey.power_watts }} <i class="fa-solid fa-w"></i></span>
    </div>
    <div class="product_detail-card">
      <span class="attribute_title">Output Current</span>
      <span class="attribute_value">0~{{ current_variant.metafields.digikey.current_output_max }}</span>
    </div>
    <div class="product_detail-card">
      <span class="attribute_title">Output Voltage</span>
      <span class="attribute_value">{{ current_variant.metafields.digikey.voltage_output_1 }}</span>
    </div>
    {%- for attribute in current_variant.metafields.digikey  -%}
    {% unless attribute[0] == 'power_watts' or attribute[0] == 'base_part_number' or attribute[0] == 'product_description' or attribute[0] == 'title_tag' or attribute[0] == 'current_output_max' or attribute[0] == 'voltage_output_1' %}
    {%if attribute[0] != "ficha_tecnica" and attribute[0] != "title"%}
      <div class="product_detail-card">
        <span class="attribute_title">{{ attribute[0] | replace: '_', ' ' | capitalize }}</span>
        <span class="attribute_value">{{ attribute[1] }}</span>
      </div>
    {%endif%}
    {% endunless %}
    {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.lateral-details.name",
  "tag": "aside",
  "class": "product-lateral-details",
  "blocks": [
    {
      "type": "title",
      "name": "t:sections.lateral-details.blocks.title.name",
      "limit": 1
    },
    {
      "type": "description_title",
      "name": "t:sections.lateral-details.blocks.description_title.name",
      "limit": 1
    },
    {
      "type": "text",
      "name": "t:sections.lateral-details.blocks.loading_properties.name",
      "limit": 1
    }
  ]
}
{% endschema %}